// =================================================================
// nextflow.config is the main configuration script for a nextflow pipeline
// Should contain the following sections:
        // A manifest for defining workflow metadata
        // Mandated minimal version of Nextflow required to run pipeline
        // Default workflow parameter definitions
        // Shell behaviour settings for the workflow
        // Execution reports
        // Configuration profiles
        // Default resource definitions for processes

// Examples are included for each section. Remove them and replace
// with project-specific code. For more information see:
// https://www.nextflow.io/docs/latest/index.html.
//
// ===================================================================

// Define some metadata for publishing pipeline on GitHub
// See https://www.nextflow.io/docs/latest/config.html#scope-manifest
// TODO update this for ONT pipeline once named
manifest {
        author = 'Nandan Deshpande'
        name = 'L1EM'
        description = 'L1EM for LINE1 position specific expresssion estimation'
        homePage = ''
}


// Mandate a minimum version of nextflow required to run the pipeline
// See https://www.nextflow.io/docs/latest/config.html#nextflow-version
nextflowVersion = '!>=20.07.1'

env {
  SINGULARITY_CACHEDIR       = "${System.getenv('SINGULARITY_CACHEDIR')}"
  NXF_SINGULARITY_CACHEDIR   = "${System.getenv('NXF_SINGULARITY_CACHEDIR')}"
  SINGULARITY_TMPDIR         = "${System.getenv('SINGULARITY_TMPDIR')}"
  SINGULARITY_MOUNT_TIMEOUT  = "${System.getenv('SINGULARITY_MOUNT_TIMEOUT') ?: '900'}"
}



// Set default workflow parameters
// See https://www.nextflow.io/docs/latest/config.html#scope-params
params {
        help    = false
        outdir  = 'results'
        input_directory = false
        samplesheet     = false
	input_contigs_directory = false 

	//ALL-3
 	BLACK_LIST='null'
	//ref_genome = '/scratch/ew19/nandan/tools/L1EM/reference/hg38.fa' 	
	ref_genome = '/g/data1a/ew19/CB/nandan/tools_installtions/L1EM_install/L1EM_refs/index_asper_L1EM_webpage/hg38.fa'
}


// Autodetect relevant Singularity env variables
singularity {
        enabled = true
        autoMounts = true
        autoCleanUp = true
}


process {
        // Set default resources for all processes
        //project = "${params.gadi_account}"
        cpus = 1
        memory = 4.Gb
        cache = 'lenient'
        //module = 'singularity'
        //storage = "${params.gadi_storage}"

        // Set process specific resources
        // See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process
        //withName: 'check_input' {
        //        executor = 'local'
        //}

}


process {
	withName: 'download_git_and_references' {
                executor = 'pbspro'
                cpus = 1
                memory = 32.GB
                time = 4.h
                queue = 'copyq'
		

		clusterOptions = {
    "-l ncpus=${task.cpus},mem=${task.memory.toMega()}MB,walltime=04:00:00,storage=gdata/ew19+gdata/ug9+gdata/if89+scratch/xw67+scratch/ew19"
	}



        }


        withName: 'run_L1EM' {
		executor = 'pbspro'
		cpus = 16
        	memory = 128.GB
        	time = 48.h
                queue = 'normalbw'         

		clusterOptions = {
      "-l ncpus=${task.cpus},mem=${task.memory.toMega()}MB,walltime=16:00:00,storage=gdata/ew19+gdata/ug9+gdata/if89+scratch/xw67+scratch/ew19"
    }

    }
	withName: 'realign_and_split_reads' {
    		executor = 'pbspro'
    		cpus = 16
    		memory = 128.GB
    		time = 48.h
    		queue = 'normalbw'
    		clusterOptions = {
      "-l ncpus=${task.cpus},mem=${task.memory.toMega()}MB,walltime=16:00:00,storage=gdata/ew19+gdata/ug9+gdata/if89+scratch/xw67+scratch/ew19"
   		 }
	
  }
	withName: make_gr_matrix {
    		executor = 'pbspro'
    		cpus = 16
    		memory = 64.GB
    		time = 12.h
    		queue = 'normalbw'
    		clusterOptions = {
      "-l ncpus=${task.cpus},mem=${task.memory.toMega()}MB,walltime=12:00:00,storage=gdata/ew19+gdata/ug9+gdata/if89+scratch/xw67+scratch/ew19"
    	}
	}

withName: expectation_maximization {
    executor = 'pbspro'
    cpus = 16
    memory = 64.GB
    time = 24.h
    queue = 'normalbw'
    clusterOptions = {
      "-l ncpus=${task.cpus},mem=${task.memory.toMega()}MB,walltime=24:00:00,storage=gdata/ew19+gdata/ug9+gdata/if89+scratch/xw67+scratch/ew19"
    }
}


	}




